@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #16161A;
    
}

.divcenter {
    background-color: #16161A;
    flex-direction: column;
    display: flex;
    align-items: center;
}
